<div class="arena">
  <div *ngFor="let row of arena; let i = index" class="arena-row clear">
    <app-terrain *ngFor="let col of row; let j = index"
      [name]="col.toString()"
      (click)="setTarget(col, i, j)"
      ></app-terrain>
  </div>

  <app-absolute-object
    className="character"
    [top]="80 * character.x + 15"
    [left]="80 * character.y + 15"
    ></app-absolute-object>

  <app-absolute-object
    className="target"
    [top]="80 * character.targetX + 32"
    [left]="80 * character.targetY + 32"
    ></app-absolute-object>
</div>
